<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Registrar proveedores</title>
    <style>
        body{
            background: #69c3f7
        }
    </style>
</head>
<body>
<header class="header">
    <div class="logo">
        <h1>MilkStgo</h1>
    </div>
    <nav>
    </nav>
    <a class="btn" href="/"><button>Volver al menú principal</button></a>
    <a class="btn" href="/"><button>Registrar otro proveedor</button></a>
</header>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="">Código</span>
    </div>
    <input type="text" class="form-control">
    <input type="text" class="form-control">
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="">Nombre proveedor</span>
    </div>
    <input type="text" class="form-control">
    <input type="text" class="form-control">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Options</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="A">One</option>
        <option value="B">Two</option>
        <option value="C">Three</option>
        <option value="D">Three</option>
    </select>
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="">Retención</span>
    </div>
    <input type="text" class="form-control">
    <input type="text" class="form-control">
</div>
</body>
</html>