<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Registrar proveedores</title>
    <style>
        .title{
            margin-top: 3vh;
        }
        body{
            background: #69c3f7
        }
        .btn1{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cajitas{
            margin: 0 auto;
            justify-content: center;
            float: none;
            width: 100%;
            margin-top: 2vh;
        }
    </style>
</head>
<body>
<header class="header">
    <div class="title">
        <h1 align="center" style="color:white;">Registrar proveedor</h1></div>
    <nav>
    </nav>
    <div class="btn1">
        <a class="btn" href="/"><button>Volver al menú principal</button></a>
        <a class="btn-2" href="/proveedores"><button>Lista proveedores</button></a>
    </div>
</header>
<div class="container cajitas">
    <form  th:action="@{/registrarProveedor}" method="POST">
        <div class="formcontainer">
            <hr/>
            <div class="container">
                <div>
                    <label><strong>Código</strong></label>
                    <input type="text" id = "id_proveedor"
                           placeholder="Ingrese el código del proveedor" name="id_proveedor" required>

                    <label><strong>Nombre</strong></label>
                    <input type="text" id = "nombre"
                           placeholder="Ingrese el nombre del proveedor" name="nombre" required>

                    <label><strong>Categoría</strong></label>
                    <input type="text" id = "categoria"
                           placeholder="Ingrese la categoria del proveedor" name="categoria" required>

                    <label><strong>Retención</strong></label>
                    <input type="text" id = "fecha"
                           placeholder="Ingrese retención del proveedor (Si / No)" name="retencion" required>
                </div>
            </div>
            <button class="btn1" type="submit">Registrar Proveedor</button>
        </div>

    </form>
</div>
</body>
</html>